@charset "UTF-8";

.burger {
  display: block;
}

.burger > ul {
  top: calc(50% - 1.375rem);
  height: 2.75rem;
  margin: 0;
  padding: 0;
  list-style: none;
}

.burger > ul,
.burger > ul > li {
  position: absolute;
  right: 0;
  z-index: inherit;
  width: 3.25rem;
}

.burger > ul > li {
  height: 2px;
}

header:not(.scroll) .burger > ul > li {
  background-color: #FFF;
}

header.scroll .burger > ul > li,
header.opened:not(.scroll) .burger > ul > li {
  background-color: #323232;
}

header:not(.opened) .burger > ul > li {
  transform: rotate(0);
}

header .burger > ul > li:first-child {
  top: 1px;
}

header .burger > ul > li:nth-child(2) {
  top: calc(50% - 1px);
}

header .burger > ul > li:last-child {
  bottom: 1px;
}

header.opened .burger > ul > li:first-child {
  transform-origin: right top;
  transform: rotate(-45deg);
}

header.opened .burger > ul > li:nth-child(2) {
  width: 0;
}

header.opened .burger > ul > li:last-child {
  transform-origin: right bottom;
  transform: rotate(45deg);
}
