@charset "UTF-8";

button::after {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 10;
    content: "";
    width: 100%;
    height: 100%;
}

.button {
    display: inline-flex;
    position: relative;
    align-items: center;
    cursor: pointer;
    height: 5rem;
    min-width: 5rem;
}

body > .wrapper > .workspace > article > .main > div:first-child > .center > div > div > .button,
    header > .center > div > .button {
        padding: 0;
    }

.button.border {
    border: 0;
}

.button.transparent {
   background-color: rgba(255, 255, 255, 0); 
}

.button.red {
    background-color: #BA0C2F;
}

header > .center > ul > li > .button {
   padding: 2.5rem 4.5rem;
    border-radius: .5rem;
}

header > .center > ul > li > .button:hover {
    background-color: #323232;
}

header > .center > ul > li > .button.text:hover >span {
    color: #FFF;
}

.button.icon > span:first-child {
    width: 100%;
    height: inherit;
    background-repeat: no-repeat;
    background-position: 100% 50%;
    transition: opacity .25s ease-in-out;
    min-width: 3rem;
}

body > .wrapper > .workspace > article > .main > div:first-child > .center > div > div > .button.icon > span:first-child {
    background-image: url(../img/phone-forwarded.svg);
}

header > .center > div > .button.icon > span:first-child   {
    background-image: url(../img/phone-black.svg);
}

.button.text > span:last-child {
    font-family: "content", sans-serif;
    font-size: 2rem;
    font-weight: 400;
    color: #FFF;
    white-space: nowrap;
}

header > .center > div > .button.text > span:last-child  {
    color: #323232;
}

header > .center > div > .button.text:hover > span:last-child,
.button.text:hover > span:last-child {
    color: #BA0C2F;
    transition: color .25s linear;
}

body > .wrapper > .workspace > article > .main > div:first-child > .center > div > div > .button.text > span:last-child,
header > .center > div > .button.text > span:last-child {
    margin-left: 1rem;
}

@media (min-width : 961px) and (max-width : 1200px) {
    .button.text.transparent > span:last-child {
        display: none;
    }
}

@media (min-width : 721px) and (max-width : 960px) {
      .button.text.transparent > span:last-child {
        display: none;
    }
}

@media (min-width : 481px) and (max-width : 720px) {
    .button.text.transparent > span:last-child {
        display: none;
    }
}

@media (max-width : 480px) {
    .button.text.transparent > span:last-child {
        display: none;
    }
}
