@charset "UTF-8";

button::after {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 10;
  content: "";
  width: 100%;
  height: 100%;
}

.button {
  display: inline-flex;
  position: relative;
  align-items: center;
  cursor: pointer;
  height: 6rem;
  min-width: 6rem;
  border: 0;
  border-radius: .5rem;
  margin: 0;
  padding: 0;
}

/* тип кнопки — начало */

.button.text > span:first-child + span {
  font-family: "content", sans-serif;
  font-size: 2rem;
  font-weight: 600;
}

.button.icon > span:first-child {
  width: 3rem;
  height: 3rem;
  background-repeat: no-repeat;
  background-position: 50% 50%;
  background-size: contain;
}

.button.icon:not(.text) > span:first-child + span,
.button.text:not(.icon) > span:first-child {
  display: none;
}

/* тип кнопки — конец */

/* ————————————————————————————————————————————————————————————————————————————————————————————————— */

/* цвет кнопки — начало */

.button.transparent {
  background-color: rgba(255, 255, 255, 0);
}

.button.transparent.text > span:first-child + span {
  color: #323232;
}

.button.transparent.text:hover > span:first-child + span {
  text-decoration: underline;
}

.button.red {
  background-color: #BA0C2F;
}

.button.red:hover {
  background-color: #323232;
}

.button.red.text > span:first-child + span {
  color: #FFF;
}

/* цвет кнопки — конец */

/* ————————————————————————————————————————————————————————————————————————————————————————————————— */

/* внешние отступы — начало */

.button.icon:not(.text) > span:first-child,
.button.text:not(.icon) > span + span {
  margin-left: 3rem;
  margin-right: 3rem;
}

.button.icon.text > span:first-child {
  margin-left: 3rem;
  margin-right: 1.5rem;
}

.button.icon.text > span:first-child + span {
  margin-right: 3rem;
}

/* внешние отступы — конец */

/* ————————————————————————————————————————————————————————————————————————————————————————————————— */


header:not(.scroll) > .center > div > .button.icon.text > span:first-child,
body > .wrapper > .workspace > article > .main > div:first-child > .center > div > div > .button.icon.text > span:first-child {
  background-image: url(../img/phone-forwarded.svg);
}

header.scroll.opened > .center > div > .button.icon.text > span:first-child,
header.scroll:not(.opened) > .center > div > .button.icon.text > span:first-child,
header.opened:not(.scroll) > .center > div > .button.icon.text > span:first-child {
  background-image: url(../img/phone-black.svg);
}

@media (min-width : 1201px) {
  body > .wrapper > .workspace > article > .main > div:first-child > .center > div > div > .button.icon.text > span:first-child + span {
    color: #FFF;
    margin-right: 0;
  }
}

@media (min-width : 961px) and (max-width : 1200px) {
  body > .wrapper > .workspace > article > .main > div:first-child > .center > div > div > .button.icon.text > span:first-child + span {
    display: none;
  }

  body > .wrapper > .workspace > article > .main > div:first-child > .center > div > div > .button.icon.text > span:first-child {
    margin-left: 2rem;
    margin-right: 0;
  }
}

@media (min-width : 721px) and (max-width : 960px) {
  header > .center > div > .button.icon.text > span:first-child {
    margin-right: 3rem;
  }

  body > .wrapper > .workspace > article > .main > div:first-child > .center > div > div > .button.icon.text > span:first-child {
    margin-left: 2rem;
    margin-right: 0;
  }

  body > .wrapper > .workspace > article > .main > div:first-child > .center > div > div > .button.icon.text > span:first-child + span,
  header > .center > div > .button.icon.text > span:first-child + span {
    display: none;
  }
}

@media (min-width : 481px) and (max-width : 720px) {
  header:not(.scroll):not(.opened) > .center > div > .button.icon.text > span:first-child + span {
    color: #FFF;
  }

  header.opened > .center > div > .button.icon.text > span:first-child + span {
    color: #323232;
  }
}

@media (max-width : 480px) {
  header > .center > div > .button.icon.text > span:first-child {
    margin-left: 1.5rem;
  }

  header > .center > div > .button.icon.text > span:first-child + span {
    display: none;
  }
}
