@charset "UTF-8";

button::after {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 10;
    content: "";
    width: 100%;
    height: 100%;
}

.button {
    display: inline-flex;
    position: relative;
    align-items: center;
    cursor: pointer;
    height: 5rem;
    min-width: 5rem;
}

.button.border {
    border: 1px solid #FFF;
    border-radius: .5rem;
}

.button.transparent {
   background-color: rgba(255, 255, 255, 0); 
}

.button.icon > span:first-child {
    width: 100%;
    height: inherit;
    background-repeat: no-repeat;
    background-position: 100% 50%;
    transition: opacity .25s ease-in-out;
    min-width: 3rem;
}

body > .wrapper > .workspace > article > .main > div:first-child > .center > div > div > .button.icon > span:first-child {
    background-image: url(../img/phone-forwarded.svg);
}

.button.text > span:last-child {
    font-family: "content", sans-serif;
    font-size: 2rem;
    font-weight: 400;
    color: #FFF;
    white-space: nowrap;
}

body > .wrapper > .workspace > article > .main > div:first-child > .center > div > div > .button.text > span:last-child {
    margin-left: 1rem;
}

@media (min-width : 1441px) {
    body > .wrapper > .workspace > article > .main > div:first-child > .center > div > div > .button {
        padding: 0 2rem;
    }
}

@media (min-width : 1201px) and (max-width : 1440px) {
    body > .wrapper > .workspace > article > .main > div:first-child > .center > div > div > .button {
        padding: 0 2rem;
    }
}

@media (min-width : 961px) and (max-width : 1200px) {
    body > .wrapper > .workspace > article > .main > div:first-child > .center > div > div > .button.border {
        border: 0;
        padding: 0;
    }

    .button.text > span:last-child {
        display: none;
    }
}

@media (min-width : 721px) and (max-width : 960px) {
    body > .wrapper > .workspace > article > .main > div:first-child > .center > div > div > .button.border {
        border: 0;
        padding: 0;
    }
    
    .button.text > span:last-child {
        display: none;
    }
}

@media (min-width : 481px) and (max-width : 720px) {
    body > .wrapper > .workspace > article > .main > div:first-child > .center > div > div > .button.border {
        border: 0;
        padding: 0;
    }

    .button.text > span:last-child {
        display: none;
    }
}

@media (max-width : 480px) {
    body > .wrapper > .workspace > article > .main > div:first-child > .center > div > div > .button.border {
        border: 0;
        padding: 0;
    }

    .button.text > span:last-child {
        display: none;
    }
}
