@charset "UTF-8";

header {
    position: sticky;
    left: 0;
    top: 0;
    width: 100%;
    z-index: 5;
    background-color: #FFFFFF;
}

header > .center {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}

header > .center > .logo {
    width: clamp(22rem, 23.5vw, 25rem);
    height: 5rem;
    background-image: url(../img/logo_mini.svg);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: 0% 50%;
}

header > .center > .logo + div {
    display: flex;
    height: 10rem;
    align-items: center;
    justify-content: space-between;
}

header > .center > .logo + div > a {
    text-decoration: none;
    white-space: nowrap;
    margin-right: 3rem;
}

header > .center > .logo + div > a > span {
    color: #323232;
    transition: color .25s linear;
    cursor: pointer;
    font-size: 3.25rem;
    font-weight: 500;
}

header > .center > .logo + div > a > span:hover {
    color: #BA0C2F;
}

header.opened > .center > ul {
    position: relative;
    display: flex;
    justify-content: flex-end;
    width: 100%;
    margin: 0;
    padding: 2.5rem 0;
    list-style: none;
}

header:not(.opened) > .center > ul {
    display: none;
}

header > .center > ul::after {
    position: absolute;
    content: "";
    width: 100vw;
    background-color: #F0F0F0;
    height: 1px;
    top: 0;
    left: calc((100% - 100vw)/2);
}

header > .center > ul > li:not(:last-child) {
    margin: 0 1.5rem;
}

header > .center > ul > li:last-child {
    margin: 0 0 0 1.5rem;
}

header > .center > ul > li > span {
    color: #323232;
    transition: color .25s linear;
    cursor: pointer;
    white-space: nowrap;
}

header > .center > ul > li > span:hover {
    color: #BA0C2F;
}

@media (min-width : 1441px) {
}

@media (min-width : 1201px) and (max-width : 1440px) {
}

@media (min-width : 961px) and (max-width : 1200px) {
}

@media (min-width : 721px) and (max-width : 960px) {
}

@media (min-width : 481px) and (max-width : 720px) {
    header > .center > .logo + div > a {
        display: none;
    }
}

@media (max-width : 480px) {
    header > .center > .logo + div > a {
        display: none;
    }
}
