@charset "UTF-8";

.main {
    position: relative;
}

.main > .header {
    position: absolute;
    width: 100%;
    z-index: 5;
    padding-top: 7rem;
    top: 0;
}

.main > .header > .center {
    position: relative;
    margin: 0 auto;
    padding-left: 3rem;
    padding-right: 3rem;
    max-width: 146rem;
    width: 100%;
    display: flex;
}

.main > .header > .center > div {
    width: 50%;
    display: flex;
    justify-content: space-between;
}

.header > .center > div:last-child > div {
    display: flex;
    align-items: center;
    height: 5rem;
    width: 100%;
    justify-content: space-between;
}

.header > .center > div > .logo {
    background-image: url(../img/logo.svg);
    width: clamp(21.25rem, 23.125vw, 25rem);
    height: clamp(15.93rem, 17.34vw, 18.75rem);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: 0% 0%;
    cursor: pointer;
    display: block;
}

.header > .center > div > ul {
    padding: 0 5rem 0 0;
    margin: -1rem 0 0 0;
    list-style: none;
}

.header > .center > div > ul > li {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    height: 5rem;
}

.header > .center > div > ul > li > span {
    color: #FFF;
    transition: color .25s linear;
    cursor: pointer;
    white-space: nowrap;
}

.header > .center > div > ul > li > span:hover,
.header > .center > div > div > a > span:hover {
    color: #BA0C2F;
}

.header > .center > div > div > a {
    padding-left: clamp(3.5rem, 6.75vw, 10rem);
    text-decoration: none;
    white-space: nowrap;
}

.header > .center > div > div > a > span {
    color: #FFF;
    transition: color .25s linear;
    cursor: pointer;
    font-size: 3.25rem;
    font-weight: 500;
}

button {
    display: flex;
    align-items: center;
    cursor: pointer;
    height: 5rem;
    padding: 1rem 2rem;
    margin: 0 0 0 3.5rem;
    border: 1px solid #FFF;
    background-color: transparent;
    border-radius: .5rem;
}

button > span:first-child {
    width: 100%;
    height: inherit;
    background-image: url(../img/phone-forwarded.svg);
    background-repeat: no-repeat;
    background-size: 3rem 3rem;
    background-position: 100% 50%;
    transition: opacity .25s ease-in-out;
    min-width: 3rem;
}

button > span:last-child {
    margin-left: 1rem;
    font-family: "content", sans-serif;
    font-size: 2rem;
    font-weight: 400;
    color: #FFF;
    white-space: nowrap;
}

.main > .gallery.object + div {
    display: flex;
    position: relative;
    z-index: 2;
    min-height: calc(var(--vh, 1vh) * 100);
}

.main > .gallery.object + div > div:last-child > div {
    position: relative;
    width: 100%;
    padding-top: clamp(12.75rem, 27vw, 41.25rem);
    padding-right: clamp(3rem, 6.5vw, 10rem);
    padding-left: clamp(3rem, 6.5vw, 10rem);
    padding-bottom: clamp(16.25rem, 23.125vw, 30rem);
    height: 100%;
    background-color: rgba(0, 0, 0, .6);
    display: flex;
    align-items: center;
}

.main > div:not(.gallery.object) > div:last-child > div > h1 {}

.main > div:not(.gallery.object) > div:last-child > div > h1 > span {
    display: block;
}



@media (min-width : 1441px) {
    button {
        padding: 1rem 2rem;
    }

    .main > div:not(.gallery.object):not(.header) > div {
        width: 50%;
    }

    .main > div:not(.gallery.object):not(.header) > div:first-child {
        display: flex;
    }
}

@media (min-width : 1201px) and (max-width : 1440px) {
    button {
        padding: 1rem 2rem;
    }

    .main > div:not(.gallery.object):not(.header) > div {
        width: 50%;
    }

    .main > div:not(.gallery.object):not(.header) > div:first-child {
        display: flex;
    }
}

@media (min-width : 961px) and (max-width : 1200px) {
    button {
        border: 0;
        padding: 0;
    }

    button > span:last-child {
        display: none;
    }

    .main > div:not(.gallery.object):not(.header) > div {
        width: 50%;
    }

    .main > div:not(.gallery.object):not(.header) > div:first-child {
        display: flex;
    }
}

@media (min-width : 721px) and (max-width : 960px) {
    button {
        border: 0;
        padding: 0;
    }

    button > span:last-child {
        display: none;
    }

    .main > div:not(.gallery.object):not(.header) > div {
        width: 50%;
    }

    .main > div:not(.gallery.object):not(.header) > div:first-child {
        display: flex;
    }
}

@media (min-width : 481px) and (max-width : 720px) {
    .header {
        display: none;
    }

    button {
        border: 0;
        padding: 0;
    }

    button > span:last-child {
        display: none;
    }

    .main > div:not(.gallery.object):not(.header) > div {
        width: 100%;
    }

    .main > div:not(.gallery.object):not(.header) > div:first-child {
        display: none;
    }

    .main > .gallery.object + div > div {
        padding: 9rem 3rem 3rem 3rem;
    }
}

@media (max-width : 480px) {
    .header {
        display: none;
    }

    button {
        border: 0;
        padding: 0;
    }

    button > span:last-child {
        display: none;
    }

    .main > div:not(.gallery.object):not(.header) > div {
        width: 100%;
    }

    .main > div:not(.gallery.object):not(.header) > div:first-child {
        display: none;
    }

    .main > .gallery.object + div > div {
        padding: 9rem 3rem 3rem 3rem;
    }
}
