@charset "UTF-8";

article > .image {
  position: relative;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 50% 50%;
  padding-top: min(calc(100%/3*2), 44rem);
}

.news:not(.section) {
  position: relative;
  display: flex;
  flex-wrap: wrap;
}

.new {
  box-shadow: 0 .5rem 1.25rem rgba(0, 0, 0, .2);
  border-radius: 1rem;
  overflow: hidden;
  background-color: #FFF;
}

.new > a {
  display: flex;
  flex-direction: column;
  text-decoration: none;
  width: 100%;
  height: 100%;
  padding-bottom: 7rem;
  color: #171D2B;
}

.new > a > div:first-child {
  position: relative;
  padding-top: calc(100%/3*1.8);
  background-repeat: no-repeat;
  background-position: 50% 50%;
  background-size: cover;
  background-image: url(../img/plug.jpg);
  overflow: hidden;
}

.new > a > div:first-child > div {
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
  width: 100%;
  height: 100%;
  background-repeat: no-repeat;
  background-position: 50% 50%;
  background-size: cover;
  transform: scale(1);
  transition: transform .25s linear;
}

.new > a:hover > div:first-child > div {
  transform: scale(1.05);
}

.new > a > div:first-child + div {
  display: flex;
  flex-direction: column;
  padding: clamp(3rem, 3.5vw, 4rem);
}

.new > a > div:first-child + div > span {
  font-size: 1.75rem;
  color: #323232;
}

.new > a > div:first-child + div > strong {
  font-size: clamp(2.75rem, 3vw, 3.25rem);
  margin: 1rem 0 0 0;
}

.new > a > div:last-child {
  background-color: #F0F0F0;
  transition: all .25s linear;
}

.new > a:hover > div:last-child {
  background-color: #BA0C2F;
}

.new > a > div:last-child > span > span {
  background-image: url(../img/arrow.svg);
}

@media (min-width : 1441px) {
  .news:not(.section) {
    width: calc(100% + 4rem);
    left: -2rem;
    margin-bottom: -4rem;
  }

  .news:not(.section) > .new {
    width: calc(33.3333% - 4rem);
    margin: 0 2rem 4rem 2rem;
  }
}

@media (min-width : 1201px) and (max-width : 1440px) {
  .news:not(.section) {
    width: calc(100% + 4rem);
    left: -2rem;
    margin-bottom: -4rem;
  }

  .news:not(.section) > .new {
    width: calc(33.3333% - 4rem);
    margin: 0 2rem 4rem 2rem;
  }
}

@media (min-width : 961px) and (max-width : 1200px) {
  .news:not(.section) {
    width: calc(100% + 3rem);
    left: -1.5rem;
    margin-bottom: -3rem;
  }

  .news:not(.section) > .new {
    width: calc(33.3333% - 3rem);
    margin: 0 1.5rem 3rem 1.5rem;
  }
}

@media (min-width : 721px) and (max-width : 960px) {
  .news:not(.section) {
    width: calc(100% + 2rem);
    left: -1rem;
    margin-bottom: -2rem;
  }

  .news:not(.section) > .new {
    width: calc(50% - 2rem);
    margin: 0 1rem 2rem 1rem;
  }
}

@media (min-width : 481px) and (max-width : 720px) {
  .news:not(.section) {
    width: calc(100% + 2rem);
    left: -1rem;
    margin-bottom: -2rem;
  }

  .news:not(.section) > .new {
    width: calc(50% - 2rem);
    margin: 0 1rem 2rem 1rem;
  }
}

@media (max-width : 480px) {
  .news:not(.section) {
    width: calc(100% + 1rem);
    left: -.5rem;
    margin-bottom: -1rem;
  }

  .news:not(.section) > .new {
    width: calc(100% - 1rem);
    margin: 0 .5rem 1rem .5rem;
  }
}
